* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navbar {
    padding: 126px 86px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 91.5%;
}

.navbar_logo {
    display: flex;
    align-items: center;

}

.navbar_logo>p {
    font-family: Roboto;
    font-size: 36px;
    font-style: italic;
    font-weight: 900;


}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right_nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.right_nav>ul>li>a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
}

.hero {
    display: flex;
    width: 100%;
    max-width: 80%;
}

.hero>h1 {
    width: 596px;
    height: 119px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 900;

}



.hero_title>button {
    width: 179px;
    height: 53px;
    border: none;
    border-radius: 7px;
    color: white;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
}


.contanier {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 61px;
    background-image: url(./orqa\ fon.png);
    background-repeat: no-repeat;
}

.card_box1 {
    flex-wrap: wrap;
    width: 344px;
    height: 414px;
    top: 1022px;
    left: 143px;
}

.card_box2 {
    width: 344px;
    height: 414px;
    top: 1022px;
    left: 548px;
    gap: 0px;


}

.card_box3 {
    width: 344px;
    height: 414px;
    top: 1022px;
    left: 548px;
    gap: 0px;


}

.card_box1>h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;

}

.card_box2>h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;

}

.card_box3>h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;

}

.text_1 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 58.59px;
    text-align: center;
    padding: 120px 0;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.img_foter{
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
display: flex;
padding: 100px 50px;

}

